/*********************************************
*  [button.LedSw] -  нопка без переключени¤
*  [section] - панель с тенью
*  [h2] - заголовок на панели
*  [table.ATM] - таблица вывода аналоговых значений
*  [div.cell] - кнопки из набора radio-button (нужен grid!)
*
*********************************************/


	body { 
		font:system;
		background: #FFFFFF url(logoCP.png) no-repeat 100% 100%;
		font:12pt monospace;
		color:#555555;

		}

	ol.log { size:*; overflow:auto; border:2px solid; }
	ol.log > li { margin-top:3px; margin-bottom:3px; margin-left:10px; text-align:left;}


	button {
		margin-left: 5px;		  
		font-size:16px;
		width:50px;
		height:30px;
		margin:0px;
		margin-left:10px;
		padding:0px;
		vertical-align:middle;
		text-align:center;
		background-color: #FFF200;
		border:2px solid #000000;
		border-radius: 5px; 
		}
    button:hover {
        border:2px solid #f57c00;
    }
    button:active {
        background-color:#FFF200;
    }

	button.LedSw {
		border-radius: 5px;
		font-size:12px;
		font-weight:bold;
		width:210px;
		height:18px; 
		margin:0px;
		padding:0px;
		margin-top:3px;
		vertical-align:center;
		text-align:center;
		border:2px solid #000000; 
		color:windowtext;
		line-height:1.4em;      
		background: #ffbc35;
		margin-bottom:5px;
		
		}

    button.LedSw:hover {
		border:2px solid #f57c00;
		background-color:#FF6F00;
		}

    button.LedSw:active {
		text-align:top;
		background-color:#FFD740;
		border:2px solid #000000;
		transition: border(timing-function:linear, duration:0.5s)
		}


	section {
		background-color: #FFFFFF;
		border-radius: 5px; 
		box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
		padding: 3px;
		}

	h2 {
		border-radius: 5px; 
		border:1px solid #01579b; 
		margin-top: 0px; 
		margin-bottom: 5px; 
		padding: 0px;
		background-color: #444444;
		color: #FFFFFF;
		font:system;
		font-size:16px;
		text-align:center;
		}


	.ATM {
		width:*; 
		margin:0px;
		font:system;
		font-size:16px;
		font-weight:bold;
		}

	table.ATM caption {
		padding: 10px;
		color: white;
		background: #4fc3f7;
		font-size: 18px;
		text-align: left;
		font-weight: bold;
		}

	table.ATM th {
		background-color:#E0E0E0; 
		border-radius: 5px;
		width:50px; 
		}
	  
	table.ATM td {
		border:2px solid #ffbc35; 
		width:60px; 
		border-radius: 8px;
		font:system;
		font-size:16px;
		font-weight:bold;
		text-align:center;
		} 

	table.ATM td:hover{
		background-color:#777777; 
		color: #FFFFFF;
		}

	P {
		font:system;
		font-size:16px;
		//font-weight:bold;
		width:*;  
		}

	code { 
		font:system;
		font-size:16px;
		font-weight:bold;
		}


    div.cell {
		border-radius: 5px; 
		behavior:switch; 
		font-size:14px;
		height:18px;
		width:*;
		margin-right:2px;
		margin-left:2px;
		text-align:center;
		background-color: #FF8F00;
		border:2px solid #FF6F00;
		}
    div.cell:hover {
		background-color:#FFD740;
    }

    div.cell:checked {
		font-weight:bold;
		border:2px solid #000000;
		background-color:#FFD740;
		border-radius: 14px;
		transform: scale(0.90);
		transition: transform(timing-function:linear, duration:0.4s)
				  border-radius(timing-function:cubic-in-out, duration:0.2s, delay:0.1s)
				  background-color(timing-function:linear, duration:0.4s)
				  
    }
