
	body { 
		font:system;
		background: #FFFFFF url(logoCP.png) no-repeat 100% 0%;
		font:12pt monospace;
		color:#333333;
		}


	h3 {
		font-size:18px;
		font-weight:bold;
	}

	h2 {
		border-radius: 5px; 
		border:1px solid #01579b; 
		margin-top: 0px; 
		margin-bottom: 5px; 
		margin-left:10px;
		padding: 0px;
		background-color: #FFFFFF;
		color: #000000;
		font:system;
		font-weight:bold;
		font-size:20px;
		text-align:left;
		width:*;  
		}


	P {
		font:system;
		font-size:16px;
		font-weight:bold;
		width:*;  
		}


div {
	width:150px;  
	height:150px;  
	background: #FFFFFF url(qr-code.gif);
}